.video-responsive{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
canvas {
position:relative; --absolute;
left:50%;
}
.video-responsive iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
html {
    font-family: Ubuntu;
    background: rgb(217,213,176);
    background: linear-gradient(180deg, rgba(217,213,176,1) 0%, rgba(237,186,119,1) 100%);
    margin-right: 10%;
    margin-left:10%;
    color:black;
    --font-size:2.5vw;
}
h1 {
  font-style: italic;
  color: #ff0066;
    font-size:10vw;
}
#name1 { font-family:'Ubuntu', sans-serif;line-height: 5vw; } 
h2 { font-size:8vw;
}
blockquote {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

